{% extends "backend_base.html" %}
{% load static %}
{% load event_tags %}
		{% block subnav %}
		<div style="background: #DDDDDD; margin-bottom: 1em;" class="subnav">
		<ul class="nav nav-pills nav-fill container">
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Programming</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url "events:manager" %}">Panels</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url "events:checkin" %}">Check-In</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Tracks</a>
				<div class="dropdown-menu">
					{% track_list event "dropdown-item" %}
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Schedule</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{% url "events:glance" %}">At-A-Glance</a>
					<a class="dropdown-item" href="{% url "events:visual" %}">Visualizer</a>
				</div>
			</li>
		</ul>
		</div>
		{% endblock %}
		{% block body %}
		{% endblock %}
		{% block visual %}
		{% endblock %}
		{% block scripting %}
		{% endblock %}
