{% extends "base.html" %}
{% load static %}
{% load event_tags %}
	{% block head %}

	{% endblock %}
	{% block nav %}
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
			<a class="navbar-brand" href="#">APIS: {{event.name}}</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{% url "frontend:backend-dash" %}">Convention</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Registration</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Operations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url "events:manager" %}">Programming</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Marketplace</a>
				</li>
				</ul>
			<ul class="navbar-nav my-2 my-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#">{{request.user.username}}</a>
				</li>
			</ul>
			</div>
			</div>
		</nav>
	{% endblock %}
		{% block subnav %}
		{% endblock %}
		{% block body %}
		{% endblock %}
		{% block visual %}
		{% endblock %}
		{% block scripting %}
		{% endblock %}
