{% extends "backend_base.html" %}
{% load static %}
{% load event_tags %}
		{% block subnav %}
		<div style="background: #DDDDDD; margin-bottom: 1em;">
		<ul class="nav nav-pills nav-fill container">
			<li class="nav-item">
				<a class="nav-link" href="#">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Event Details</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url "frontend:backend-hr-dash" %}">Staff &amp; HR</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Logs</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Schedule</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{% url "events:glance" %}">At-A-Glance</a>
					<a class="dropdown-item" href="{% url "events:visual" %}">Visualizer</a>
				</div>
			</li>
		</ul>
		</div>
		{% endblock %}
		{% block body %}
		{% endblock %}
		{% block visual %}
		{% endblock %}
		{% block scripting %}
		{% endblock %}
